{% extends "templates/base.html" %} 
{% block title %}Index{% endblock %} 
{%block content %}
<div
    class="d-flex .flex-column align-items-center justify-content-center"
    style="height: 100vh"
>
    <div class="text-center">
        <h1>Quick Quiz</h1>
        <p>insert your terms below</p>
        <form id="quiz-form" method="POST" action="/quiz" class="container">
            <textarea
                id="terms"
                name="terms"
                rows="10"
                class="form-control mb-4 bg-white text-dark"
                >{{terms_string}}
            </textarea>
            <button type="submit" class="btn btn-primary">
                Start Quiz
            </button>
        </form>
        <form action="/shutdown" method="get" class="fixed-bottom p-3">
            <button type="submit" class="btn btn-danger">
                Quit
            </button>
        </form>
    </div>
</div>
{% endblock %}
